:root {
  --bg-color: #ffffff;
  --text-color: #1e293b;
  --primary-color: #e97c23;
}

body {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: var(--text-color);
  transition: 0.3s ease;
}
